doctype html
html(lang="uft-8")
  head
    title 偵測異常消費通知
    link(href="../styles/landscape.css", rel="stylesheet", type="text/css")
    link(href="../styles/portrait.css", rel="stylesheet", type="text/css", media="(max-aspect-ratio: 1/1)")
  body
    #cover-outer-container
    #about-us-container