doctype html
html(lang="uft-8")
  head
    title 偵測異常消費通知
    link(href="../styles/landscape.css", rel="stylesheet", type="text/css")
    link(href="../styles/portrait.css", rel="stylesheet", type="text/css", media="(max-aspect-ratio: 1/1)")
  body
    #cover-outer-container
      #cover-inner-container-left
        h1#cover-text-left-up.cover-text.cover-text-left.cover-text-up 第一組
        h2#cover-text-left-down.cover-text.cover-text-left.cover-text-down Profile
      #cover-inner-container-right
        h1#cover-text-right-up.cover-text.cover-text-right.cover-text-up 介紹
        h2#cover-text-right-down.cover-text.cover-text-right.cover-text-down about No.1
    #about-us-container
      .profile-inner-container-change
        img
        h3 
        p
      h1#about-us-text About us
      #profile-outer-container
        #xu.profile-inner-container
          img(src="../img/xu.jpeg")
          h3
            br
            |徐子灝
            br
            br
          p 
            |一隻自然融入
            br
            |人類社會的
            br
            |卡比獸
            br
            br
        #chen.profile-inner-container
          img(src="../img/cheng.jpeg")
          h3
            br
            |陳佑霖
            br
            br
          p
            |大四即將畢業
            br
            |立志作一團
            br
            |會呼吸的肉
            br
            br
        #huang.profile-inner-container
          img(src="../img/huang.jpeg")
          h3
            br
            |黃柏叡
            br
            br
          p
            |喜歡資工的電機仔
            br
            |夢想是睡飽
            br
            |寫程式賺錢
            br
            br
        #jiang.profile-inner-container
          img(src="../img/jiang.jpeg")
          h3
            br
            |江品澔
            br
            br
          p
            |誤打誤撞考上電機
            br
            |到大三依舊我是誰
            br
            |我在哪
            br
            br
        #li.profile-inner-container
          img(src="../img/li.jpeg")
          h3
            br
            |李宇洋
            br
            br
          p
            |想要成為
            br
            |厲害的工程師
            br
            |卻常常
            br
            |死在床上
            br
            br
    script(src='../lib/jquery-3.6.0.min.js')
    script(src='../lib/script.js')