@font-face {
  /* 冬青黑體 W3 */
  font-family: "DongQing";
  src: url("../fonts/Hiragino Sans GB W3.ttf");
}

@font-face {
  /* 冬青黑體 W6 */
  font-family: "DongQingBold";
  src: url("../fonts/Hiragino Sans GB W6.otf");
}

@font-face {
  /* 華康娃娃體 */
  font-family: "WaWa";
  src: url("../fonts/DF Wa Wa.ttf");
}

:root {
  --cover-border-width: 2vw;
  --cover-margin-width: 0.3vw;
  --cover-height-width-offset: calc(2 * (var(--cover-border-width) + var(--cover-margin-width)));
  --percentage-of-right-container: 66%;
}

body {
  background-color: #595050;
  height: 100%;
  margin: 0;
  
}

body::-webkit-scrollbar {
  width: 0;
}

#cover-outer-container {
  display: flex;
  height: calc(100vh - var(--cover-height-width-offset));
  width: calc(100vw - var(--cover-height-width-offset));
  border: var(--cover-border-width) solid #595050;
  margin: var(--cover-margin-width);
}

#cover-outer-container>* {
  display: flex;
  height: 100%;
  align-items: center;
}

#cover-inner-container-left {
  width: calc(100% - var(--percentage-of-right-container));
  background-color: #D1C6C6;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

#cover-inner-container-right {
  width: var(--percentage-of-right-container);
  flex-direction: column;
  background: linear-gradient(rgba(208, 200, 200, 0.55), rgba(155, 149, 149, .55)), url("../img/cover.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: center;
  align-items: flex-start;
}

#cover-inner-container-right-bottom {
  display: none;
}

#cover-text-for-43 {
  display: none;
}

.cover-text {
  position: relative;
  font-family: "DongQingBold";
}

.cover-text-left {
  margin: 0 1vw;
  color: #434040;
}

.cover-text-right {
  margin: 0 0.7vw;
  color: #4E3821;
}

.cover-text-up {
  font-weight: bold;
  font-size: 4.5vw;
}

.cover-text-down {
  font-weight: bold;
  letter-spacing: -0.1vw;
  font-size: 4vw;
}

#about-us-container {
  height: 100vh;
  background-color: #e9ddd2;
}

#about-us-text {
  font-family: "WaWa";
  margin: 0 4.9vw;
  font-size: 8.5vw;
  font-weight: 500;
}

#profile-outer-container {
  display: flex;
  justify-content: space-between;
  margin: 0 5vw;
}

.profile-inner-container {
  display: flex;
  flex-direction: column;
  width: 15vw;
  margin: 0;
}

.profile-inner-container:hover {
  transform: scale(1.1, 1.1);
  transition: all 0.3s ease;
}

.profile-inner-container img {
  width: 100%;
  border-radius: 10px;
}

.profile-inner-container:hover h3 {
  border-radius: 0;
}

.profile-inner-container h3 {
  font-size: 1.8em;
  color: beige;
  text-align: center;
  background-color: #463d3d;
  margin: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.profile-inner-container p {
  margin: 0px;
  height: fit-content;
  font-family: "DongQing";
  text-align: center;
  font-size: 1.1em;
  color: beige;
  background-color: #463d3d;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  opacity: 0;
}

.profile-inner-container:hover p {
  transition: .5s ease;
}

.profile-inner-container:not(:hover) {
  transition: all 0.2s ease;
}

.profile-inner-container-change {
  display: none;
}

#chen img {
  margin-top: 1.8vw;
}

#huang img {
  margin-top: -2.25vw;
}

#xu img {
  margin-top: 2vw;
}

#li img {
  margin-top: -1.82vw;
}

@media screen and (max-aspect-ratio: 4/3) and (min-width:900px) {
   :root {
    --percentage-of-right-container: 75%;
  }
  #about-us-text {
    text-align: center;
    text-decoration-skip-ink: none;
    text-decoration: underline;
    text-underline-offset: 20px;
    text-decoration-thickness:5px;
  }
  #cover-outer-container {
    border: 2vw solid #595050;
    border-width: 3vw 2vw;
  }
  #cover-inner-container-right {
    position: relative;
    width: var(--percentage-of-right-container);
    background: linear-gradient(rgba(208, 200, 200, 0.55), rgba(155, 149, 149, .55)), url("../img/cover.jpeg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    justify-content: center;
    align-items: flex-start;
  }
  #cover-inner-container-right-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20vw;
    display: block;
    background-color: #D1C6C6;
    z-index: 3;
  }
  .cover-text {
    display: none;
  }
  #cover-text-for-43 {
    display: block;
    position: absolute;
    background-color: #b2a1a1;
    height: fit-content;
    width: 70%;
    left: 15vw;
    top: 55vh;
    margin: 0;
    margin-top: 5vw;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    z-index: 10;
  }
  #cover-text-for-43 h1 {
    margin-top: 3%;
    left: 15vw;
    display: inline-block;
  }
  #cover-text-for-43 h2 {
    margin-bottom: 3%;
    left: 15vw;
    display: inline-block;
  }
  .profile-inner-container {
    width: 15vw;
    padding-top: 12vw;
    margin: 0;
  }
  .profile-inner-container:hover {
    transform: scale(1.1, 1.1);
    transition: all 0.45s ease;
    opacity: 0.5;
  }
  .profile-inner-container img:hover {
    cursor: pointer;
  }
  .profile-inner-container:not(:hover) {
    opacity: 1;
    transition: all 0.2s ease;
  }
  .profile-inner-container {
    opacity: 0;
  }
  .profile-inner-container-change {
    position: absolute;
    width: 15vw;
    margin: 0;
    left: 0;
    right: 0;
    margin-top: 5vw;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.45s ease;
    -webkit-animation-name: zoom;
    animation-name: zoom;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
  }
  .profile-inner-container-change img {
    width: 100%;
    border-radius: 10px;
  }
  .profile-inner-container-change h3 {
    font-size: 1.8em;
    color: beige;
    text-align: center;
    background-color: #463d3d;
    margin: 0;
  }
  .profile-inner-container-change p {
    margin: 0px;
    height: fit-content;
    font-family: "DongQing";
    text-align: center;
    font-size: 1.1em;
    color: beige;
    background-color: #463d3d;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  #xu img {
    margin-top: -1vw;
  }
  @-webkit-keyframes zoom {
    from {
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    to {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  @keyframes zoom {
    from {
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    to {
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
    }
  }
}