@font-face {
  font-family: "??";
  src: url("res/??.ttf");
}

:root {
  --cover-border-width: 2vw;
  --cover-margin-width: 0.3vw;
  --cover-height-width-offset: calc(2 * (var(--cover-border-width) + var(--cover-margin-width)));
  --percentage-of-right-container: 66.451%;
}

body {
  background-color: white;
  height: 100%;
  margin: 0;
}

body::-webkit-scrollbar {
  width: 0;
}

#cover-outer-container {
  display: flex;
  height: calc(100vh - var(--cover-height-width-offset));
  width: calc(100vw - var(--cover-height-width-offset));
  border: var(--cover-border-width) solid #595050;
  margin: var(--cover-margin-width);
}

#cover-outer-container>* {
  display: flex;
  height: 100%;
  align-items: center;
}

#cover-inner-container-left {
  width: calc(100% - var(--percentage-of-right-container));
  background-color: #D1C6C6;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

#cover-inner-container-right {
  background-image: url("../img/cover.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: var(--percentage-of-right-container);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  opacity: 80%;
}

[id^="cover-text"] {
  font-family: "??";
}

.cover-text {
  font-size: 4vw;
}

.cover-text-left {
  margin: 0 1vw;
  color: #434040;
}

.cover-text-right {
  margin: 0 0.7vw;
}

.cover-text-up {
  font-weight: 600;
}

.cover-text-down {
  font-weight: 300;
}

#cover-text-right-up {

  color: #b65205;
  /* or #D19259*/
}

#cover-text-right-down {

  color: #C37539;

  /* or #D19259*/
}

#about-us-container {
  height: 100vh;
  background-color: #e9ddd2;
}

#about-us-text {
  margin: 0 4.9vw;
  font-size: 8.5vw;
}

#profile-outer-container {
  display: flex;
  justify-content: space-between;

  margin: 0 5vw;
}

.profile-inner-container {
  display: flex;
  flex-direction: column;
  width: 15vw;

  margin: 0;
}

.profile-inner-container img {
  width: 15vw;

  border-radius: 10px;
}

.profile-inner-container h1 {
  font-size: 2.273vw;
  margin: 0;
}

.profile-inner-container p {
  font-size: 1.364vw;
}

#chen img {
  margin-top: 1.8vw;
}

#huang img {
  margin-top: -4.25vw;
}

#xu img {
  margin-top: 0;
}

#li img {
  margin-top: -1.82vw;
}


/*
.profile-inner-container > * {
  display: none;
}