#about-us-text {
  text-decoration: underline solid black 0.4vw;
  text-underline-offset: 1vw;
  color: #413434;
}

@media screen and (min-aspect-ratio: 3/4) {}

@media screen and (max-aspect-ratio: 3/4) and (min-aspect-ratio: 9/16) {
   :root {
    --cover-height: 100vh;
    --about-us-height: 100vh;
    --percentage-of-right-container: 75%;
    --cover-img-height: 32vh;
    --border-top-bottom-offset: calc((var(--cover-height) - var(--cover-img-height))/2);
  }
  #cover-outer-container {
    width: 100vw;
    height: var(--cover-img-height);
    margin: 0;
    border-top: var(--border-top-bottom-offset) solid #595050;
    border-bottom: var(--border-top-bottom-offset) solid #595050;
  }
  .cover-text-up {
    font-size: 2.7vh;
  }
  .cover-text-down {
    font-size: 2.7vh;
  }
  #about-us-container {
    width: 100vw;
    height: var(--about-us-height);
    border: var(--cover-border-width) solid #595050;
    margin-top: -1vh;
    border-bottom: 0;
  }
  #about-us-text {
    position: relative;
    width: fit-content;
    top: 30vw;
    left: 15vw;
    font-size: 14vw;
  }
  #profile-outer-container {
    position: relative;
    top: 50vw;
  }
  #chen img {
    margin-top: 1.8vw;
  }
  #huang img {
    margin-top: -12vw;
  }
  #xu img {
    margin-top: -8vw;
  }
  #li img {
    margin-top: -6vw;
  }
  #jiang {
    margin-top: -3vw;
  }
}

@media screen and (max-aspect-ratio: 9/16) {
   :root {
    --cover-height: 100vh;
    --about-us-height: 100vh;
    --percentage-of-right-container: 75%;
    --cover-img-height: 25vh;
    --border-top-bottom-offset: calc((var(--cover-height) - var(--cover-img-height))/2);
  }
  #cover-outer-container {
    width: calc(100vw - var(--cover-boder-width)*2);
    height: var(--cover-img-height);
    margin: 0;
    border-top: var(--border-top-bottom-offset) solid #595050;
    border-bottom: var(--border-top-bottom-offset) solid #595050;
  }
  .cover-text-up {
    font-size: 2.7vh;
  }
  .cover-text-down {
    font-size: 2.7vh;
  }
  #about-us-container {
    width: calc(100vw - var(--cover-boder-width)*2);
    height: var(--about-us-height);
    border: var(--cover-border-width) solid #595050;
    margin-top: -1vh;
    border-bottom: 0;
  }
  #about-us-text {
    position: relative;
    width: fit-content;
    top: 30vw;
    left: 15vw;
    font-size: 14vw;
  }
  #profile-outer-container {
    position: relative;
    top: 50vw;
  }
  #chen img {
    margin-top: 1.8vw;
  }
  #huang img {
    margin-top: -12vw;
  }
  #xu img {
    margin-top: -8vw;
  }
  #li img {
    margin-top: -6vw;
  }
  #jiang {
    margin-top: -3vw;
  }
}